# From general to specific
# automatic backup files
*.swp
*~

# From project
core/include.d/*
!core/include.d/README
demo/classes/config.php
demo/cache/*.dat
demo/cache/[a-z]*
!demo/cahce/smarty/
!demo/cache/sql/
!demo/cache/thumb/
