# From general to specific
# automatic backup files
*.swp
*~

# From project
core/include.d/*
!core/include.d/README
demo/classes/config.php
demo/cache/*
!demo/cache/smarty/README
!demo/cache/sql/README
!demo/cache/thumb/README
