ErrorDocument 404 /cms/404.php
ErrorDocument 403 /cms/403.php
RewriteEngine on
RewriteCond %{REQUEST_URI} ^/(admin|secure|example.org)/setup(.php)?$
RewriteRule (.*) /cms/setup.php [L]
RewriteCond %{REQUEST_URI} ^/(admin|secure|example.org)/usuario(.php)?$
RewriteRule (.*) /cms/usuario.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/robots.txt$
RewriteCond %{REQUEST_URI} !\.(gif¦jpe?g¦png¦css¦js¦pdf¦doc¦xml)$
RewriteRule (.*) /cms/404.php [L]

AuthType Basic
AuthName "CMS: example.org"
AuthUserFile /www/example.org/.htpasswd

order allow,deny
allow from all
require valid-user

php_flag display_errors on
php_value error_reporting 2039
