.dgrow			{ background-color: #ddd; border-right: solid #888 1px; padding-left: 5px; padding-right: 5px; white-space: nowrap;}
.dgrow2			{ background-color: #eee; border-right: solid #888 1px; padding-left: 5px; padding-right: 5px; white-space: nowrap;}
