body {
	background-color : #FFF;
	font-size : 11px;
	font-family : "DejaVu Serif", Arial, Helvetica, sans-serif;
}

.error {
	color : #F00;
	font-weight : bold;
}

.button {
	border : solid 1px #cccccc;
	background: #E9ECEF;
	color : #666666;
	font-weight : bold;
	font-size : 11px;
	padding: 4px;
}

.login {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6em;
	padding: 15px;
	width: 429px;
}
	
.form-block {
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.inputbox {
	width: 150px;
	margin: 0 0 1em 0;
	border: 1px solid #cccccc;
}
