/* AWFFULL CSS File */
p {font-size: small}       /* Default Paragraph */
div {margin-top: 1em;}     /* Default div groups - simple separating */
td {text-align: right; font-size: small; font-weight: bold;}   /* Default setting for ALL table data, everything else is the exception! */
td.text {text-align: left; font-weight: normal; white-space: nowrap;}  /* Default text in tables */
td.percent {font-size: x-small; font-weight: normal;}      /* Percent */
td.front_val {font-weight: normal;}    /* Values on the Main Index Page */
td.front_str {font-weight: normal;}    /* Equiv to Val, used for Volume */
td.front_tot_val {}                    /* Setting totals - same as default */
td.front_tot_str {}                    /* ditto */
td.front_month {font-weight: normal; text-align: left; white-space: nowrap;}   /* Link to the Month Page - intro text*/
td.front_year {text-align: left; white-space: nowrap;} /* Subtotal for a Year - intro text */
td.total {text-align: left; white-space: nowrap;}      /* Total for the entire table - intro text */
th.front_monthhead {text-align: left; white-space: nowrap; background: #C0C0C0;}
th.front_subhead {text-align: center; background: #C0C0C0;}
th.index_key {text-align: center; background: #C0C0C0;}
td.response_desc {text-align: left; font-weight: normal;}  /* Response Code Section */
td.response_val {}
td.response_pct {font-weight: normal;}
td.summary_desc {text-align: left; font-weight: normal;}   /* Monthly Summary Section */
td.summary_val {}
td.index_count {text-align: center; font-weight: bold;}    /* Index Counts - day of month, hour etc */
td.perday_desc {text-align: left; font-weight: normal;}    /* XXX per Day Section */
td.perday_val {width: 65px;}
td.perday_avg {width: 65px;}
td.viewall {text-align: center; font-weight: normal;}      /* Trailing ViewAll XXX line */
tr.viewall {background: #D0D0E0;}
tr.subtotal {background: #CDCDCD;}
tr.total {background: #CDCDCD;}
tr.group_shade {background: #D0D0E0;}
th {font-size: small; font-weight: bold; text-align: center;}    /* All the table headers */
th.main {text-align: right; background: #CDCDCD;}
th.hits {background: #00805C;}
th.files {background: #0000FF;}
th.pages {background: #00E0FF;}
th.visits {background: #FFFF00;}
th.sites {background: #FF8000;}
th.transfer {background: #FF0000;}
th.bookmarks {background: #FF00FF;}
th.url {background: #FF8000;}
th.agents {background: #FF8000;}
th.search {background: #FF8000;}
th.country {background: #00E0FF;}
th.hostname {background: #FF8000;}
th.referringurl {background: #0080FF;}
img.flags {margin: 0; width: 25px; height: 15px; padding: 0 0.2em 0 0;}
caption {text-align: center; font-weight: bold; background: #C0C0C0; border-width: 2;}    /* Table Caption */
#navigation {font-size: small;}
#monthTotal {font-size: small;}
#response_code {text-align: center; font-size: small; font-weight: bold; background: #C0C0C0;}
#summary_period {font-weight: bold; color: #369;}
#header {
  text-align: left;
  background-color: #FFFFFF;
  margin: 0;
  /*padding: .2em 0 0 2em;
  border-bottom: 1em solid #69c;*/
}
#logo {
  text-align: right;
  float: right;
  clear: right;
  background: transparent url(/cms/img/guegue_253x78.png) right top no-repeat;
  border: 0;
  margin: 0em 0em 0em 0em;
  padding: 0;
  z-index: 2;
}
#logo a {
  display: block;
  text-decoration: none;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  height: 78px !important;
  width: 253px;
  cursor: pointer;
}
#footer {text-align: left;}
a:link {color: #0000FF;}
a:visited {color: #FF0000;}
table {
  border-collapse: collapse;
}
center {
  padding: 0;
  margin: 0;
 }
hr {
  height: 1px;
  padding: 0;
  margin: 0;
  color: #69g;
}
body  {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
body, p, td, li, ul, ol  {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, Verdana, sans-serif;
  margin: 0;
  color: #369;
}
caption, th.front_monthhead, th.front_subhead, th.front_subhead,
 td.front_year, td.total, td.front_tot_str, td.front_tot_val {
color: #369;
  background: #CDCDCD;
}
a:link {
  text-decoration: none;
  font-weight: bold;
  color: #ff8c00;
}
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #c96;
}
a:hover, a:active {
  font-weight: bold;
  color: #ff4500;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
p {
  margin: 0 0 1.3em 0;
  padding: 0;
}
